<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36775598738-46k7md0n94q77tkt58g17dco53qdj4a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36775598738-46k7md0n94q77tkt58g17dco53qdj4a1</string>
	<key>API_KEY</key>
	<string>AIzaSyDnBjWkIt_sL3rSVzLtbSc9SZr6e9TrCOM</string>
	<key>GCM_SENDER_ID</key>
	<string>36775598738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beakhand.PlayFirestore</string>
	<key>PROJECT_ID</key>
	<string>playfirestorebeakhand</string>
	<key>STORAGE_BUCKET</key>
	<string>playfirestorebeakhand.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36775598738:ios:28014ea22f55c636</string>
	<key>DATABASE_URL</key>
	<string>https://playfirestorebeakhand.firebaseio.com</string>
</dict>
</plist>